@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
}

/* infinite-carousel - css */
#css-infinite-carousel {
    --speed: 60s;
    --gap: 1em;
    --play-state: running;
    --dir: normal;
    --radius: 4px;
    --pad : 0px;
    margin-top: 25px;
    display: flex;
    overflow: hidden;
}

#css-infinite-carousel .ticker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    gap: var(--gap);
    min-width: 100%;
    animation: slide var(--speed) linear infinite;
    animation-play-state: var(--play-state);
    animation-direction: var(--dir);
    margin-right: var(--gap);
}

#css-infinite-carousel .ticker img {
    border: 1px solid #ddd;
    flex-shrink: 0;
    border-radius: var(--radius);
    padding: var(--pad);
    transition: all 0.3s linear;
}

@keyframes slide {
    form {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#radius:checked ~ #css-infinite-carousel {
    --radius: 100%;
    --pad : 10px;
}

#pause:checked ~ #css-infinite-carousel {
    --play-state: paused;
}

#reverse:checked ~ #css-infinite-carousel {
    --dir: reverse;
}

#normal:checked ~ #css-infinite-carousel {
    --speed: 60s;
}

#slow:checked ~ #css-infinite-carousel {
    --speed: 120s;
}
#medium:checked ~ #css-infinite-carousel {
    --speed: 30s;
}

#fast:checked ~ #css-infinite-carousel {
    --speed: 5s;
}
